<!--
 * @Description: 
 * @Author: OBKoro1
 * @Date: 2019-11-05 18:39:59
 * @LastEditors: chenchen
 * @LastEditTime: 2019-11-06 12:24:04
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChatDemo</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body style="margin: 0;">
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
